body {
  text-align: center;
  font-family: 'Georama', sans-serif;
  background-color: antiquewhite;
}

h1 {
  margin-bottom: 3%;
}

.bookworm {
  height: 40%;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 5%;
  border: 7px solid white;
}

nav {
  /* top: 0px; */
  padding: 10px;
  /* position: sticky; */
  background-color: antiquewhite;
  margin-bottom: 4%;
}

/* .search-section {
  font-family: 'Georama', sans-serif;
} */

input {
  margin-right: 1%;
  width: 30vh;
  height: 20%;
  border-radius: 10px;
  font-family: 'Georama', sans-serif;
}

#search {
  border-radius: 10px;
  font-family: 'Georama', sans-serif;
}

.additional-search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
  width: 100%;
}

#bestsellers {
  height: 60%;
  width: 30%;
  border: 7px solid white;
  margin-left: 5%;
  border-radius: 10px;
}
#recommended{
  height: 60%;
  width: 40%;
  border: 7px solid white;
  border-radius: 10px;
  margin-left: 5%;
}

.book-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.loading-book {
  height: 40%;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 10%;
  border: 7px solid white;
  order: 1;
  margin-left: 28%;
}
 
/* *RESPONSIVE RULES* */

@media all and (max-width: 550px) {
  .additional-search {
    flex-direction: column;
    align-items: center;
  }
  /* #search {
    width: 12vh;
  } */
  #recommended {
    display: block;
    height: 100%;
    min-width: 60%;
    margin: 20px;
  }
  #bestsellers {
    display: block;
    height: 100%;
    width: 50%;
    margin: 20px;
  }
}
@media all and (min-width: 750px) { 
  main {
    display: flex;
  }
  .flex-container-wraper {
    width: 28%;
  }
  .main-search {
    justify-content: flex-start;
    width: 25%;
  }
  .bookworm {
    height: 25vh;
    width: 25vh;
    margin-bottom: 20%;
  }
  .search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: auto;
  }
  input {
    width: 29vh;
  }
  #search {
    width: 12vh;
    margin: 5px auto;
  }
  .additional-search {
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
    margin-left: 12%;
  }
  #bestsellers {
    height: 20vh;
    width: 20vh;
    margin-bottom: 25%;
  }
  #recommended{
    height: 20vh;
    width: 20vh;
  }
  .book-list {
    justify-content: center;
    width: 75%;
    background: whitesmoke;
  }
  .loading-book {
    height: 20vh;
    width: 30vh;
    margin-left: 33%;
  }
 }
































